[user]
	email = chris@rdrn.me
	name = Chris Arderne
[core]
	editor = vim
[diff]
	tool = vimdiff
[alias]
	lo = log --all --decorate --graph --oneline
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
	defaultBranch = main
